@model Game

<div class="col-sm-6 col-md-4">
    <div class="card card-sm mb-4">
        <a class="card-img card-img-lg" href="game-post.html">
            <img class="card-img-top" src="@Model.background_image" alt="God of War" />
        </a>
        <div class="card-body">
            <h5 class="card-title">
                <i class="ya ya-check-circle text-success" data-toggle="tooltip" data-placement="bottom" data-title="Available"></i>
                <a href="game-post.html">@Model.name</a>
            </h5>
            <p class="card-text font-size-md">Some description...</p>
            <div class="btn-group">
                @foreach (var platform in Model.parent_platforms)
                {
                    <a platform-name="@platform.platform.Slug" title="@platform.platform.Name" class="btn btn-default btn-xs" href="#"></a>
                }
            </div>
        </div>
        <div class="card-footer">
            @if (Model.released.HasValue)
            {
                <span><i class="ya ya-calendar"></i>@Model.released?.ToShortDateString()</span>
            }
            <div class="ml-auto">
                <a class="ml-1" href="#">
                    <i class="ya ya-star-o"></i>
                    @Model.rating
                </a>
            </div>
        </div>
    </div>
</div>